<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-installed-apps"
        version="1.0.0">

    <name>InstalledApps</name>

    <js-module src="www/InstalledApps.js" name="InstalledApps">
        <clobbers target="cordova.plugins.installedApps" />
    </js-module>

    <platform name="android">
            <config-file target="res/xml/config.xml" parent="/*">
            <feature name="InstalledApps">
                <param name="android-package"
                       value="com.plugin.installedapps.InstalledApps" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
        </config-file>

        <source-file src="src/android/InstalledApps.java"
                     target-dir="src/com/plugin/installedapps" />
    </platform>

</plugin>
